/* #titulo {
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to right, rgb(66, 166, 233), #da5f17, rgb(201, 30, 110));
    background: -webkit-linear-gradient(to right, rgb(66, 166, 233), #da5f17, rgb(201, 30, 110));
    background: -ms-linear-gradient(to right, rgb(66, 166, 233), #da5f17, rgb(201, 30, 110));
    background: -o-linear-gradient(to right, rgb(66, 166, 233), #da5f17, rgb(201, 30, 110));
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
    box-shadow: gray 20px 20px 10px;
}
    */

body {
    background-color: #999999;
}

/* menu bonitinho */

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    transition: .3s;
    scrollbar-width: none;
    overflow: hidden scroll;
    background: #1C5249;
    -ms-overflow-style: none;
    padding: 20px 20px 20px 0px;
    backdrop-filter: blur(5px);
    box-shadow: 8px 0px 9px 0px #00000014;
}

.menu:hover{
    width: 260px;
}

.menu:hover li span:nth-child(2){
    display: block;
}

.menu-content li {
    list-style:  none;
    border-radius:  0px 50px 50px 0px;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-content li:hover{
    background: #ffffff;
}

.menu-content li span:nth-child(2){
    display: none;
}

a {
    text-decoration: none;
    color: rgb(213, 213, 213);
    background-color: #000000;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.material-symbols-outlined {
    padding: 10px;
    font-size: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background: #0c0c0c;
}

/* resto do código */

#titulo {
    display:block;
    text-align: center;
    font-size: 12px;
    color: BLACK;
    padding: 2px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: gray 20px 20px 10px;
}

.imagens {
    display: block;
    padding-left: 20%;
}

.imagem {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid #ccc;
    float: left;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.imagem:hover {
    transform: scale(1.1);
    border: 2px solid #ff4d6d;
    box-shadow: 0 8px 16px rgba(255, 77, 109, 0.5);
}